* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.titolo{
    padding-bottom: 30px;
}

.container {
    background-color: rgb(233, 233, 233);
    height: 100vh;
}

.logoBoolean,
.search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding:10px;
}

.logo {
    width: 25%;
}

.buttonUp {
    padding: 10px;
    margin-left: 20px;
    background-color: rgb(0, 182, 82);
    border-radius: 10px;
}

.insert {
    border-radius: 10px;
    border: 1px solid green
}

.container-todo {
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px ;
    border: 1px solid green
}
