* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.titolo{
    padding-top: 30px; 
    color: grey;
}

.container {
    background-color: rgb(241, 241, 241);
    height: 100vh;
}

.logoBoolean,
.search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding:10px;
}

.logo {
    width: 25%;
}

.buttonUp {
    padding: 10px;
    margin-left: 20px;
    background-color: hsl(147, 100%, 44%);
    border-radius: 10px;
    border: none;
}

.insert {
    border-radius: 10px;
    border: none;
}

/* .container-todo {
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px ;
    border: none;
} */

.list-todos li {
    display: flex;
    color: grey;
    background-color: white;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
}

.list-todos li i{
    margin-left: auto;
}